<!-- /*app.component.html*/ -->
<!-- <div id="chartContainer" style="height: 200px; width: 50%;"></div> -->
<!-- <div id="chartContainer" style="height: {{height}}px; width: {{width}}%; | safe: 'style'"></div> -->
<!-- <div id="chartContainer" [style.height]="height+'px'" [style.width]="width+'%'"></div> -->
<!-- can work on it -->
<button id="showChartButton" type="button" [style.color]="Green">Show Charts!</button>
<div id="chartContainer" [style.height.px]="height" [style.width.%]="width"></div>
  
    <!-- <div id="chartContainer" [style.height.px]="100" [style.width.%]="50"></div> -->
